{% extends "base.html" %}

{% block title %}{{building}}{% endblock %}

{% block content %}

<h1>{{building}}</h1>

{% if outlets %}

  <h4>Outlets:</h4>
  <table class="table-content">
    <thead>
      <th>Name</th>
      <th>State</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {% for o in outlets %}
          <tr>
            <td><a href="outlets/{{o.id}}" >{{ o.outletName }}</a></td>
            <td>
              {% if o.state %}
                On
              {% else %}
                Off
              {% endif %}
            </td>
            <td>
              {% if o.state %}
                <a href="outlets/{{o.id}}/flip/0">Turn Off</a>
              {% else %}
                <a href="outlets/{{o.id}}/flip/1">Turn On</a>
              {% endif %}
              <a href="outlets/{{o.id}}/delete">Delete</a>
            </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
    <p>You do not own any buildings at this time.</p>
{% endif %}
<br/>
<a href="outlets/new">Register an Outlet</a>
{% endblock %}