{% extends "base.html" %}

{% block title %}{{outlet}}{% endblock %}

{% block content %}

<h1>{{outlet}}</h1>
<b>State: </b>
{% if outlet.state %}
  On
{% else %}
  Off
{% endif %}

{% if alarms %}
<br>
<h4>Alarms:</h4>
<table class="table-content">
    <thead>
        <th>Name</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Creator</th>
        <th>Action</th>
    </thead>
    <tbody>
        {% for a in alarms %}
          <tr>
            <td>{{ a.alarmName }}</td>
            {% if a.startTime %}
              <td>{{ a.startTime }}</td>
            {% else %}
              <td>{{ none }}</td>
            {% endif %}
            <td>{{ a.endTime }}</td>
            <td>{{ a.creator }}</td>
            <td>
                <a href="alarms/{{a.id}}/delete">Delete</a>
            </td>
          </tr>
      {% endfor %}
    </tbody>
</table>
{% else %}
    <p>There are no alarms set for this outlet.</p>
{% endif %}
<a href="alarms/new">Create an Alarm</a>
{% endblock %}